// Contatti
@use "/assets/scss/variable/variable" as v;

.contatti {
  overflow-x: hidden;
  .hero-contatti {
    .hero-title {
      text-align: center;
      padding: 0px 20px;
      position: relative;

      @include v.respond-to(lg) {
        padding: 0;
        text-align: left;
      }

      span {
        position: absolute;
        left: 50%;
        top: -50%;
        transform: translateX(-50%);
        z-index: -1;
        white-space: nowrap;

        @include v.respond-to(lg) {
          left: 0;
          transform: translateX(0);
        }
      }
    }
    .hero-info {
      margin-top: 81px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include v.respond-to(lg) {
        margin-top: 28px;
        flex-direction: row;
        align-items: center;
      }

      .info-contatti {
        padding: 0px 20px;

        @include v.respond-to(lg) {
          padding: 0;
        }

        .text-contatti {
          a {
            color: v.$black-color;
            opacity: 1;
            transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

            @include v.respond-to(lg) {
              &:hover {
                opacity: 0.6;
              }
            }
          }
        }
      }

      .map-container {
        margin-top: 41px;

        @include v.respond-to(lg) {
          margin-top: 0;
          border: 1px solid v.$gray-border;
          border-radius: 42px;
          padding: 10px;

          .map {
            border-radius: 32px;
            overflow: hidden;
            height: 100%;

            iframe {
              display: block;
            }
          }
        }
      }
    }
  }
}
