// Defibrillatori
@use "/assets/scss/variable/variable" as v;

.defibrillatori {
  overflow-x: hidden;

  .hero-defibrillatori {
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon {
      width: fit-content;
      padding: 8px;
      border: 1px solid v.$gray-border;
      border-radius: 200px;

      .icon-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 102px;
        height: 102px;
        border-radius: 200px;
        padding: 25px;
        background-image: linear-gradient(180deg, v.$white-color, v.$bg-white);

        @include v.respond-to(lg) {
          width: 180px;
          height: 180px;
        }
      }
    }

    .titoletto {
      margin-top: 40px;
      color: v.$red-color;

      @include v.respond-to(lg) {
        margin-top: 76px;
      }
    }

    .title {
      margin-top: 12px;
      padding: 0px 20px;
      position: relative;

      @include v.respond-to(lg) {
        margin: 5px;
      }

      span {
        position: absolute;
        left: 50%;
        top: -50%;
        transform: translateX(-50%);
        z-index: -1;
        white-space: nowrap;
      }
    }

    .text {
      text-align: center;
      padding: 0px 20px;
      margin-top: 12px;

      @include v.respond-to(lg) {
        margin: 14px auto 0 auto;
        max-width: 70%;
      }
      @include v.respond-to(xl) {
        max-width: 60%;
      }
    }

    .btn-red {
      margin-top: 32px;

      @include v.respond-to(lg) {
        margin-top: 28px;
      }
    }

    .block-img {
      position: relative;
      z-index: 0;
      margin-top: 45px;

      @include v.respond-to(lg) {
        margin-top: 97px;
      }

      img {
        width: 100%;
        height: auto;
        aspect-ratio: 4/3;
        object-fit: cover;

        @include v.respond-to(lg) {
          aspect-ratio: 20/7;
          border-radius: 42px;
        }
      }
    }
    .block-txt {
      position: relative;
      z-index: 1;
      margin: -50px 5px 0px 5px;
      border-radius: 42px;
      border: 1px solid v.$gray-border;
      padding: 11px;
      background-color: v.$white-color;

      @include v.respond-to(lg) {
        max-width: 80%;
        margin: -100px auto 0 auto;
      }

      .block-txt-wrap {
        position: relative;
        overflow: clip;
        border-radius: 32px;
        background-color: v.$red-color;
        padding: 68px 0 98px 0;
        color: v.$white-color;

        @include v.respond-to(lg) {
          padding: 90px 0;
        }

        .title-block {
          text-align: center;
          padding: 0px 19px;

          @include v.respond-to(lg) {
            margin: 0 auto;
            max-width: 80%;
          }
          @include v.respond-to(xl) {
            max-width: 70%;
          }
        }
        .text-block {
          text-align: center;
          padding: 0px 19px;
          margin-top: 32px;

          @include v.respond-to(lg) {
            margin: 24px auto 0 auto;
            max-width: 80%;
          }
          @include v.respond-to(xl) {
            max-width: 70%;
          }
          @include v.respond-to(xxl) {
            max-width: 60%;
          }
        }

        .img-mobile {
          svg {
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 20px;
            height: 250px;

            @include v.respond-to(md) {
              display: none;
            }
          }
        }
        .img-desk {
          svg {
            display: none;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 20px;
            height: 250px;

            @include v.respond-to(md) {
              display: block;
              height: auto;
              width: 100%;
            }
          }
        }
      }
    }
    .defibrillatori-repeater {
      margin-top: 62px;

      .defibrillatori-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 39px;

        @include v.respond-to(md) {
          margin-top: 83px;
          gap: 89px;
        }

        .link-item {
          width: 44%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 20px;

          @include v.respond-to(md) {
            width: 20%;
            min-width: 200px;
          }

          .icon {
            width: fit-content;
            border-radius: 200px;
            border: 1px solid v.$gray-border;
            background-color: v.$white-color;
            padding: 10px;

            .icon-item {
              width: 60px;
              height: 60px;
              border-radius: 200px;
              border: 1px solid v.$gray-border;
              background-image: linear-gradient(
                180deg,
                v.$white-color 0%,
                v.$d-white-color 100%
              );
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
          .link-text {
            max-width: 80%;
            text-align: center;
            word-break: break-all;
          }
        }
      }
    }
  }
  .sezione {
    position: relative;
    margin-top: 86px;
    padding: 0 20px;

    @include v.respond-to(md) {
      margin-top: 132px;
    }

    @include v.respond-to(lg) {
      margin-top: 191px;
      padding: 0;
    }

    .img-bg {
      position: absolute;
      top: -50px;
      right: 0;
      z-index: -1;
    }

    .sezione-wrap {
      .title {
        @include v.respond-to(lg) {
          padding: 0 20px;
        }
      }

      .text {
        margin-top: 12px;

        @include v.respond-to(lg) {
          max-width: 70%;
          padding: 0 20px;
        }
        @include v.respond-to(xl) {
          max-width: 60%;
        }
      }

      .repeater-sezione {
        margin-top: 45px;

        @include v.respond-to(lg) {
          margin-top: 62px;
        }

        .sezione-list {
          list-style: none;
          counter-reset: item;
          display: grid;
          grid-template-columns: 1fr;
          gap: 24px;

          @include v.respond-to(md) {
            grid-template-columns: repeat(2, 1fr);
            gap: 36px;
          }
          @include v.respond-to(lg) {
            grid-template-columns: repeat(3, 1fr);
          }
          @include v.respond-to(xl) {
            grid-template-columns: repeat(4, 1fr);
            gap: 44px;
          }

          .link-item {
            border-radius: 32px;
            background-color: v.$bg-white;
            padding: 30px 20px;
            font-size: 22px;
            line-height: 27px;
            font-weight: 600;
            letter-spacing: 1px;
            text-transform: uppercase;

            &::before {
              content: "0" counter(item);
              counter-increment: item;
              color: v.$red-color;
            }

            @include v.respond-to(lg) {
              padding: 31px 28px 45px 28px;
              font-size: 25px;
              line-height: 32px;
            }

            .text {
              max-width: none;
              padding: 0;
              margin: 14px 0 0 0;
              text-transform: none;
              font-size: clamp(19px, 2vw, 22px);
              font-weight: 400;
              line-height: 1.5;

              @include v.respond-to(lg) {
                margin-top: 24px;
              }
            }
          }
        }
      }
    }
  }
  .testimonianze {
    margin-top: 86px;
    padding: 0 20px;

    @include v.respond-to(md) {
      margin-top: 132px;
    }

    @include v.respond-to(lg) {
      padding: 0;
    }
    .title-testimonianze {
      @include v.respond-to(lg) {
        padding: 0 20px;
      }
    }

    .text-testimonianze {
      margin-top: 12px;

      @include v.respond-to(lg) {
        max-width: 70%;
        padding: 0 20px;
      }
      @include v.respond-to(xl) {
        max-width: 60%;
      }
    }

    .testimonianze-loop {
      width: 100%;
      margin-top: 31px;
      display: grid;
      grid-template-columns: 1fr;

      @include v.respond-to(md) {
        grid-template-columns: repeat(2, 1fr);
        gap: 36px;
      }

      .card {
        border: 1px solid v.$gray-border;
        border-radius: 32px;
        background-image: linear-gradient(
          180deg,
          v.$white-color 0%,
          v.$d-white-color 100%
        );
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 76px 20px 40px 20px;
        position: relative;

        @include v.respond-to(md) {
          padding: 80px 40px 100px 40px;
        }

        @include v.respond-to(xl) {
          padding: 84px 100px 110px 100px;
        }

        .quote-bg {
          position: absolute;
          top: 20px;
          left: 20px;
          z-index: 0;

          @include v.respond-to(md) {
            top: 46px;
            left: 25px;
          }
        }

        .card-content {
          position: relative;
          z-index: 1;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 4px;

          svg {
            position: relative;
            width: 10%;
          }
          .card-text {
            width: 88%;
            p {
              font-size: 22px;

              @include v.respond-to(md) {
                font-size: 28px;
              }
            }
          }
        }

        .card-info {
          margin-top: 29px;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          gap: 10px;

          @include v.respond-to(md) {
            margin-top: 16px;
            margin-left: 50px;
            justify-content: flex-start;
          }

          img {
            display: block;
            width: 32px;
            height: 32px;
            object-fit: cover;
            border-radius: 100px;
          }
        }
      }
      .repeater-loghi {
        .loghi-list {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 16px;
          list-style: none;

          @include v.respond-to(md) {
            grid-template-columns: repeat(3, 1fr);
            gap: 26px;
          }
          @include v.respond-to(lg) {
            grid-template-columns: repeat(2, 1fr);
          }
          @include v.respond-to(xl) {
            grid-template-columns: repeat(3, 1fr);
          }

          .link-item {
            border: 1px solid v.$gray-border;
            border-radius: 32px;
            background-image: linear-gradient(
              180deg,
              v.$white-color 0%,
              v.$d-white-color 100%
            );
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 36px 30px;

            @include v.respond-to(md) {
              padding: 42px 45px;
            }

            a {
              img {
                filter: grayscale(1);
                transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
              }

              @include v.respond-to(lg) {
                &:hover {
                  img {
                    filter: grayscale(0);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .numeri {
    margin-top: 86px;
    padding: 0 20px;

    @include v.respond-to(md) {
      margin-top: 132px;
    }

    @include v.respond-to(lg) {
      padding: 0;
    }
    .title-numeri {
      @include v.respond-to(lg) {
        padding: 0 20px;
      }
    }

    .text-numeri {
      margin-top: 12px;

      @include v.respond-to(lg) {
        max-width: 70%;
        padding: 0 20px;
      }
      @include v.respond-to(xl) {
        max-width: 60%;
      }
    }
    .repeater-numeri {
      margin-top: 40px;

      .numeri-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 24px;
        list-style: none;

        @include v.respond-to(md) {
          grid-template-columns: repeat(2, 1fr);
          gap: 36px;
        }
        @include v.respond-to(lg) {
          grid-template-columns: repeat(3, 1fr);
          gap: 66px;
        }
        @include v.respond-to(xl) {
          gap: 86px;
        }

        .numeri-item {
          border: 1px solid v.$black-title-color;
          border-radius: 42px;
          padding: 40px 47px;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 30px;

          .number {
            color: v.$red-color;
            font-size: 80px;
            font-weight: 500;
            line-height: 76px;
          }
        }
      }
    }
  }
  .assistenza {
    margin-top: 86px;
    padding: 0 20px;

    @include v.respond-to(md) {
      margin-top: 132px;
    }

    @include v.respond-to(lg) {
      padding: 0;
    }
    .title-assistenza {
      @include v.respond-to(lg) {
        padding: 0 20px;
      }
    }

    .text-assistenza {
      margin-top: 12px;

      @include v.respond-to(lg) {
        max-width: 70%;
        padding: 0 20px;
      }
      @include v.respond-to(xl) {
        max-width: 60%;
      }
    }

    .card-section {
      margin-top: 33px;
      display: grid;
      grid-template-columns: 1fr;
      gap: 27px;

      .card-assisstenza {
        position: relative;
        width: 100%;
        border-radius: 42px;
        overflow: hidden;
        padding: 21px;
        padding-top: 50%;
        display: grid;

        @include v.respond-to(lg) {
          aspect-ratio: 10 / 4;
          padding: 21px;
          padding-top: 20%;
          padding-left: 60%;
        }

        .card-content {
          z-index: 1;
          position: relative;
          background-image: linear-gradient(
            180deg,
            v.$white-color,
            v.$bg-white
          );
          border-radius: 32px;
          padding: 20px;
          display: flex;
          flex-direction: column;
          gap: 12px;
          align-items: flex-end;

          .title-h5 {
            width: 100%;
            color: v.$red-color;
          }

          .card-icon {
            margin-top: 8px;
            width: 42px;
            height: 42px;
            border-radius: 100px;
            border: 1px solid v.$gray-border;
            background-color: v.$white-color;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 4s cubic-bezier(0.215, 0.61, 0.355, 1);

            span {
              color: v.$black-color;
              font-size: 19px;
              font-weight: 200;
              transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
            }

            @include v.respond-to(xl) {
              width: 62px;
              height: 62px;

              span {
                font-size: 22px;
              }

              &:hover {
                background-color: v.$gray-color;

                span {
                  color: v.$white-color;
                }
              }
            }
          }
        }

        img {
          z-index: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
