// Prodotti
@use "/assets/scss/variable/variable" as v;

.prodotti {
  overflow-x: hidden;

  .hero-prodotti {
    text-align: center;

    .titoletto {
      color: v.$red-color;
    }

    .title {
      margin-top: 12px;
      padding: 0px 20px;
      position: relative;

      @include v.respond-to(lg) {
        margin: 5px;
      }

      span {
        position: absolute;
        left: 50%;
        top: -50%;
        transform: translateX(-50%);
        z-index: -1;
        white-space: nowrap;
      }
    }

    .text {
      padding: 0px 20px;
      margin-top: 12px;

      @include v.respond-to(lg) {
        margin: 14px auto 0 auto;
        max-width: 70%;
      }
      @include v.respond-to(xl) {
        max-width: 60%;
      }
    }

    .block-img {
      position: relative;
      z-index: 0;
      margin-top: 40px;

      img {
        width: 100%;
        height: auto;
        aspect-ratio: 4/3;
        object-fit: cover;

        @include v.respond-to(lg) {
          aspect-ratio: 20/7;
          border-radius: 42px;
        }
      }
    }
    .block-txt {
      position: relative;
      z-index: 1;
      margin: -50px 5px 0px 5px;
      border-radius: 42px;
      border: 1px solid v.$gray-border;
      padding: 11px;
      background-color: v.$white-color;

      @include v.respond-to(lg) {
        max-width: 80%;
        margin: -100px auto 0 auto;
      }

      .block-txt-wrap {
        position: relative;
        overflow: clip;
        border-radius: 32px;
        background-color: v.$red-color;
        padding: 68px 0 98px 0;
        color: v.$white-color;

        @include v.respond-to(lg) {
          padding: 90px 0;
        }

        .title-block {
          padding: 0px 19px;

          @include v.respond-to(lg) {
            margin: 0 auto;
            max-width: 80%;
          }
          @include v.respond-to(xl) {
            max-width: 70%;
          }
        }
        .text-block {
          padding: 0px 19px;
          margin-top: 32px;

          @include v.respond-to(lg) {
            margin: 24px auto 0 auto;
            max-width: 80%;
          }
          @include v.respond-to(xl) {
            max-width: 70%;
          }
          @include v.respond-to(xxl) {
            max-width: 60%;
          }
        }

        .img-mobile {
          svg {
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 20px;
            height: 250px;

            @include v.respond-to(md) {
              display: none;
            }
          }
        }
        .img-desk {
          svg {
            display: none;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 20px;
            height: 250px;

            @include v.respond-to(md) {
              display: block;
              height: auto;
              width: 100%;
            }
          }
        }
      }
    }
  }
  .fornitori {
    margin-top: 86px;
    padding: 0 20px;

    @include v.respond-to(md) {
      margin-top: 132px;
    }

    @include v.respond-to(lg) {
      padding: 0;
    }
    .title-fornitori {
      @include v.respond-to(lg) {
        padding: 0 20px;
      }
    }

    .text-fornitori {
      margin-top: 12px;

      @include v.respond-to(lg) {
        max-width: 70%;
        padding: 0 20px;
      }
      @include v.respond-to(xl) {
        max-width: 60%;
      }
    }
    .repeater-fornitori {
      margin-top: 62px;

      .fornitori-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 39px;

        @include v.respond-to(md) {
          margin-top: 83px;
          gap: 89px;
        }

        .link-item {
          width: 44%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 20px;

          @include v.respond-to(md) {
            width: 20%;
            min-width: 200px;
          }

          .icon {
            width: fit-content;
            border-radius: 200px;
            border: 1px solid v.$gray-border;
            background-color: v.$white-color;
            padding: 10px;

            .icon-item {
              width: 60px;
              height: 60px;
              border-radius: 200px;
              border: 1px solid v.$gray-border;
              background-image: linear-gradient(
                180deg,
                v.$white-color 0%,
                v.$d-white-color 100%
              );
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
          .link-text {
            max-width: 80%;
            text-align: center;
          }
        }
      }
    }
  }
  .brand {
    margin-top: 86px;
    padding: 0 20px;

    @include v.respond-to(md) {
      margin-top: 132px;
    }

    @include v.respond-to(lg) {
      padding: 0;
    }
    .title-brand {
      max-width: 80%;
      @include v.respond-to(lg) {
        padding: 0 20px;
      }
    }

    .repeater-brand {
      margin-top: 28px;

      @include v.respond-to(md) {
        margin-top: 83px;
      }

      .loghi-list {
        margin-top: 28px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
        list-style: none;
        
        @include v.respond-to(lg) {
            justify-content: center;
            gap: 40px 90px;
        }

        .logo-item {
          a {
            display: block;

            img {
              max-height: 77px;
              display: block;
              width: 100%;
              object-fit: contain;
              filter: grayscale(1);
              transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
            }

            &:hover {
              img {
                filter: grayscale(0);
              }
            }
          }
        }
      }
    }
  }
}
