// Color

$red-color: red;
$gray-color: gray;
$white-color: white;
$black-color: black;

$gray-gradient: linear-gradient(290deg, rgba(213,213,213,1) 0%, rgba(118,119,120,1) 100%);
$red-gradient: linear-gradient(290deg, rgba(213,213,213,1) 0%, rgba(199,8,8,1) 100%);