// Color

$red-color: rgb(199, 35, 35);
$l-red-gradient: rgb(218, 10, 21);
$d-red-gradient: rgb(179, 35, 35);

$d-gray-color: rgb(70, 70, 81);
$gray-text: rgb(80, 83, 90);
$gray-color: rgb(108, 112, 122);
$l-gray-color: hsl(240, 14%, 85%);
$gray-border: hsl(0, 0%, 92%);

$d-white-color: hsl(0, 0%, 96%);
$bg-white: #F6F6F8;
$white-color: rgb(255, 255, 255);

$black-color: rgb(28, 28, 28);
$black-title-color: rgb(70, 70, 81);